@font-face {
  font-family: "CustomFont";
  src: url("Roboto-Regular.ttf");
}

* {
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  line-height: 1.6;
}

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a {
  color: #0057b7;
}
.links a{
  /* margin: 0.25rem; */
  text-transform: uppercase;
}

ul.tags {
    padding: 0;
    list-style-type: none;
}
ul.tags li {
  display: inline-block;
  background: #0057b7;
  color: #ffffff;
  padding: 0 0.5rem;
  margin: 0.25rem;
  border-radius: 3px;
}
